@model List<ScarpeCoEpicode.Models.Articolo>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Elenco Articoli</h2>

@if (Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Descrizione</th>
            <th>Immagine Copertina</th>
            @* <th>Immagine Aggiuntiva 1</th>
            <th>Immagine Aggiungtiva 2</th> *@
            <th>Vai alla pagina di dettaglio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var articolo in Model)
            {
                <tr>
                    <td>
                        @articolo.Id
                    </td>
                    <td>
                        @articolo.Nome
                    </td>
                    <td>
                        @articolo.Prezzo
                    </td>
                    <td>
                        @articolo.Descrizione
                    </td>
                    <td>
                        <img src="@Url.Content(articolo.ImmagineCopertinaUrl)" alt="Immagine Copertina"
                            class="img-fluid img-thumbnail" width="200" />
                    </td>
                    @* <td>
            <img src="@Url.Content(articolo.ImmagineCopertinaUrl)" alt="Immagine Aggiungtiva 1"
            class="img-fluid img-thumbnail" width="200" />
            </td>
            <td>
            <img src="@Url.Content(articolo.ImmagineAggiuntivaUrl2)" alt="Immagine Aggiungtiva 2"
            class="img-fluid img-thumbnail" width="200" />
            </td> *@
                    <td>
                        <a href="@Url.Action("Dettaglio", "Home", new {id = articolo.Id})" class="btn btn-info">Dettagli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>Nessun articolo disponibile.</p>
}
